*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Gemunu+Libre);

:root {
  --clr-accent: rgb(240, 114, 56);
  --clr-highlight: rgba(56, 51, 51, 0.13);

  --font: Gemunu Libre;
}

body {
  background: rgb(37, 37, 37);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

header {
  text-align: left;
  padding-left: 5rem;
  padding-bottom: 0.5rem;
  background: var(--clr-accent);
  background: black;
  color: white;
  height: 9rem;
}

header h1 {
  font-family: Gemunu Libre;
  font-size: 3rem;
}

header>li {
  border: 2px solid black;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.App {
  text-align: center;
  background: white;
  max-width: 1700px;
  margin: auto;
  box-shadow: 0 10px 20px 0 var(--clr-d);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: white;

}

::-webkit-scrollbar-thumb {
  background: var(--clr-accent);
}

::-webkit-scrollbar-thumb:hover {
  background: orange;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.icon-large {
  font-size: 3rem;
}

.icon-next {
  font-size: 4rem;
  background: var(--clr-a);
  cursor: pointer;
  border: none;
  user-select: none;
  height: 4.2rem;
  border-radius: 50px;
}

.icon-next:hover {
  transition: all 100ms ease;
  background: gray;
  background: var(--clr-accent);
}

.icon-next:active {
  background: var(--clr-a);
  margin-left: 1rem;
}

.loading {
  height: 3rem;
  width: 3rem;
  border-radius: 20px;
  margin: auto;
  animation: loading infinite 700ms;
  color: white;
}

@keyframes loading {
  0% {
    rotate: 180deg;
    scale: 1;
  }

  50% {
    scale: 1.3;
  }

  100% {
    rotate: 0deg;
    scale: 1;
  }
}

.header-title {
  font-size: 3rem;
}

.carousel-wrapper {
  width: 100%;
  max-width: 880px;
  height: auto;
  overflow: hidden;
  will-change: transform;
  transition: transform 1s ease;
}

.carousel-content {
  display: flex;
  justify-content: center;
  overflow: visible;
  transition: transform 1s ease;
}

.carousel-btns {
  border: 3px solid red;
}

.carousel-btns button {
  background: none;
  border: none;
  color: black;
}

.btn-icon {
  font-size: 3rem;
}

#prev, #next {
  cursor: pointer;
}

#prev:hover, #next:hover {
  color: white;
}

#prev:active, #next:active {
  transform: scale(1.1);
}

.carousel-content div {
  transition: transform 200ms ease;
  height: 412px;
}

.carousel-content div:hover {
  transform: scale(1.02);
  transition: transform 1000ms ease;
}

.fade {
  opacity: 1;
  transition: all 1s ease-out;
}

.fade:active {
  opacity: 0.4;
  transition-duration: 0.1s;
}

.bg-dark {
  background: var(--clr-d);
}

.title {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2rem;
  word-wrap: break-word;
  padding: 0 30px;
  background: var(--clr-accent);
  max-width: 80rem;
  color: white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-family: var(--font);
  letter-spacing: 5px;
}

.title-small {
  font-size: 1.5rem;
  color: white;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.align {
  margin: auto;
  padding: 10px 0;
  border-bottom: 5px solid black;
}

.break-container {
  height: 2rem;
}

.break {
  height: 5px;
  width: 90%;
  margin: auto;
  /* background: black; */
  background: #FC354C;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0ABFBC, #FC354C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.title-extra-small {
  font-size: 1.4rem;
}

.wrapper-column {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8rem;
}

.container-game {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(6, 13rem);
  justify-content: center;
  row-gap: 5rem;
}

.container-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0rem 1rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  background: rgba(56, 51, 51, 0.13);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 10px solid var(--clr-accent);
  border-bottom: 5px solid var(--clr-accent);
}

.container-group {
  display: flex;
  justify-content: center;
  gap: 2rem;
  border-top: 5px solid var(--clr-a);
}

.bg-main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-main>img {
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

.container-col-small {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-top: 2.4rem;
  height: fit-content;
  align-items: center;
}

.featured-container {
  padding: 2.3rem 0;
}

.featured-btns {
  display: flex;
  justify-content: center;
  user-select: none;
  font-size: 3.5rem;
  color: var(--clr-b);
}

.featured-img {
  width: auto;
  height: 411px;
  box-shadow: 0 5px 5px 0 black;
  transition: all 1s ease;
}

.container-search {
  margin-top: 10px;
}

.search-title {
  box-shadow: none;
}

#search {
  font-size: 1.5rem;
  padding: 10px 30px;
  border: none;
}

.search-wrapper {
  border: 2px solid black;
  border-top: none;
  max-height: 50rem;
  overflow-y: auto;
}

.search-content {
  overflow-y: scroll;
  width: 21rem;
  max-height: 984px;
  position: absolute;
  background: rgb(51, 50, 50);
  z-index: 9;
  padding-left: 2.2rem;
}

.search-img {
  width: 250px !important;
  height: auto !important;
}

.search-btn {
  position: absolute;
  font-size: 2rem;
  background: none;
  border: none;
  transform: translate(23rem, 0.75rem);
}

.search-result {
  box-shadow: 5px 2px 5px 0 black;
  width: fit-content;
  z-index: 10;
  margin-top: 1rem;
}

.search-result:hover {
  transform: scale(1.05);
}


.flex-row {
  display: flex;
  gap: 5px;
  padding-top: 0.5rem;
}

.search-discount {
  color: white;
  background: rgb(165, 50, 50);
  height: fit-content;
  font-size: 1rem;
  padding: 1px 8px;
}

.search-price {
  background: rgb(153, 150, 150);
  color: black;
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
}

.game-card {
  background: rgb(238, 234, 234);
  width: fit-content;
  width: 170px;
  transition: transform 200ms ease-in;
  box-shadow: 5px 2px 5px 0 black;
}

.game-title {
  font-size: 1.1rem;
  font-weight: 600;
  min-height: 5rem;
  overflow-y: hidden;
  border-bottom: 1px solid black;
}

.game-img {
  width: auto;
  width: 171.15px;
  height: 80px;
}

.search-img {
  width: auto;
  width: 200px;
}

.small {
  transform: scale(0.8);
}

.medium {
  transform: scale(1);
}

.large {
  transform: scale(1.5);
}

.game-card:hover {
  transform: translateY(-0.5rem);
  transition: transform 200ms ease-out;
}

.score {
  border-radius: 5px;
  background: rgb(125, 190, 125);
  width: fit-content;
  font-size: 2rem;
  font-weight: 700;
  padding: 5px;
  margin: auto;
}

.price {
  display: flex;
  font-size: 1rem;
  gap: 1rem;
  align-items: baseline;
  background: rgb(223, 213, 171);
  background: var(--clr-a);
}

.discount {
  font-size: 1.7rem;
  color: white;
  background: rgb(197, 63, 63);
  width: fit-content;
  font-weight: 700;
  position: absolute;
  box-shadow: 3px 3px rgb(92, 10, 10);
}

.rating {
  font-size: 1.3rem;
  background: rgb(92, 88, 88);
  color: rgb(230, 227, 227);
  width: 3rem;
  width: fit-content;
  font-weight: 700;
  box-shadow: 3px 3px rgb(92, 10, 10);
  position: absolute;
  transform: translate(8rem, -70px);
  display: flex;
  align-items: center;
  gap: 7px;
}

.rating>span {
  color: rgb(182, 172, 172);
  font-size: 2rem;
}

.featured-discount {
  transform: translate(0rem, -3rem);
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
  width: 10rem;
  background: rgb(197, 63, 63);
  color: white;
}

.sale-price {
  font-size: 2rem;
  font-weight: 700;
}

.normal-price {
  text-decoration: line-through;
}

.footer {
  background: var(--clr-c);
  background: black;
  font-size: 1.3rem;
  color: var(--clr-a);
  color: white;
  margin-top: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.footer a:hover {
  color: var(--clr-accent);
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* Responsive  */

@media (max-width: 1300px) {
  .container-game {
    display: flex;
    flex-wrap: wrap;
    row-gap: 4rem;
    column-gap: 2rem;
  }
}

@media (max-width: 1050px) {
  .container-group {
    flex-wrap: wrap;
  }

  .carousel-wrapper {
    max-width: 100vw;
  }

  .featured-img {
    width: 100vw;
  }

  .container-game-grid {
    align-items: center;
    padding-top: 0;
    padding-right: 2rem;
  }

  .container-row {
    row-gap: 3rem;
  }

  .wrapper-column {
    gap: 0px;
  }
}

@media(max-width: 540px) {
  .search-content {
    max-width: fit-content;
    padding: 0 0.5rem;
  }


  .search-title {
    display: none;
  }

  .search-img {
    height: 80px;
  }


  .featured-container {
    padding: 0;
  }

  #search {
    max-width: 18.5rem;
  }

  .search-wrapper {
    padding: 0;
  }

  header {
    padding-left: 1rem;
  }

  .container-group {
    gap: 0;
    padding-bottom: 1rem;
  }

  .featured-img {
    object-fit: contain;
    box-shadow: none;
    height: fit-content;
    padding-top: 1rem;
  }

  .featured-discount {
    transform: translate(0rem, -2.95rem);
  }

  .break {
    display: none;
  }

  .footer {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .search-title {
    display: none;
  }

  .container-row {
    padding: 0;
    align-items: center;
    margin-top: 0rem;
  }

  .container-game {
    row-gap: 2.75rem;
  }


  .header-content {
    padding-right: 0;
  }

  .search-content {
    padding-left: 0;
  }

}

@media (max-width: 310px) {
  #search {
    max-width: 90vw;
  }

  .search-content {
    max-width: 90vw;
  }

  .featured-discount {
    transform: translate(0rem, -3rem);
  }

  .rating {
    transform: translate(0rem, 0rem);
  }

}