*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Gemunu+Libre);

* {}

:root {
  /* --clr-a: #C3CEDA;
  --clr-b: #738FA7;
  --clr-c: #0C4160;
  --clr-d: #272949; */

  /* --clr-a: #C3CEDA;
  --clr-b: #738FA7;
  --clr-c: #0C4160;
  --clr-d: #2c2c2e; */

  --clr-accent: rgb(240, 114, 56);
  --clr-highlight: rgba(56, 51, 51, 0.13);

  --font: Gemunu Libre;
}

body {
  /* background: rgb(2, 2, 2); */
  background: rgb(117, 123, 156);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

header {
  /* background: var(--clr-c); */
  text-align: left;
  padding-left: 5rem;
  padding-bottom: 0.5rem;
  display: flex;
  background: var(--clr-accent);
  background: black;
  color: white;
  /* flex-direction: column; */
  /* gap: 1rem; */
  /* justify-content: center; */
  /* background: blue; */
  /* background: rgba(255, 250, 250, 0.295); */
}

header h1 {
  font-family: Gemunu Libre;
  font-size: 3rem;
}

header p {}

header>li {
  border: 2px solid black;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.App {
  text-align: center;
  background: white;
  max-width: 1700px;
  /* width: 60vw; */
  margin: auto;
  /* background: var(--clr-c); */
  /* background: rgb(26, 25, 25); */
  /* background: rgb(27, 27, 27); */
  box-shadow: 0 10px 20px 0 var(--clr-d);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.column {}

.icon-large {
  font-size: 3rem;
}

.icon-next {
  font-size: 4rem;
  background: var(--clr-a);
  transition: all 1s ease;
  cursor: pointer;
  user-select: none;
}

.icon-next:hover {
  transition: all 100ms ease;
  background: var(--clr-b);
}

.icon-next:active {
  background: var(--clr-a);
}

.header-icon {}

.loading {
  height: 3rem;
  width: 3rem;
  border-radius: 20px;
  margin: auto;
  animation: loading infinite 700ms;
  color: white;
}

@keyframes loading {
  0% {
    rotate: 180deg;
    scale: 1;
  }

  50% {
    scale: 1.3;
  }

  100% {
    rotate: 0deg;
    scale: 1;
  }
}

.header-title {
  font-size: 3rem;
}


.carousel-wrapper {
  /* margin: auto; */
  width: 100%;
  max-width: 880px;
  height: auto;
  /* width: 100%; */
  overflow: hidden;
  will-change: transform;
  transition: transform 1s ease;
  /* border: 7px solid var(--clr-accent);
  border-top: none;
  border-bottom: none; */
  /* box-shadow: 0px 0px 10px 0px black; */
}

.carousel-wrapper::after {}

.carousel-content {
  display: flex;
  justify-content: center;
  overflow: visible;
  transition: transform 1s ease;
  /* border: 10px dotted blue; */
}

.carousel-btns {
  /* position: absolute; */
  border: 3px solid red;
  z-index: 99;
  /* width: 880px;
  height: 418px;
  transform: translateY(-26rem); */
}

#btn-prev {
  /* left: 0; */
}

#btn-next {
  /* right: 0; */
}

.carousel-btns button {
  /* position: absolute; */
  background: none;
  border: none;
  /* background: rgba(231, 226, 226, 0.336); */
  /* height: 100%; */
  color: black;

}

.btn-icon {
  font-size: 3rem;
}

#prev, #next {
  cursor: pointer;
}

#prev:hover, #next:hover {
  color: white;
}

#prev:active, #next:active {
  /* color: white; */
  transform: scale(1.1);
}

.carousel-content div {
  transition: transform 200ms ease;
  /* box-shadow: 10px 10px 5px 10px red; */
  /* border: 2px solid black; */
  /* height: fit-content; */
  height: 412px;
}

.carousel-content div:hover {
  transform: scale(1.02);
  transition: transform 1000ms ease;
}

.fade {
  /* transition: all 1s ease;
  animation: fade 1s; */
  opacity: 1;
  transition: all 1s ease-out;
}

.fade:active {
  opacity: 0.4;
  transition-duration: 0.1s;
}

.bg-dark {
  background: var(--clr-d);
}

.title {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2rem;
  /* text-shadow: 3px 2px black; */
  word-wrap: break-word;
  padding: 0 30px;
  background: var(--clr-accent);
  /* width: fit-content; */
  max-width: 80rem;
  color: white;
  /* border-radius: 20px; */
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-family: var(--font);
  letter-spacing: 5px;
}

.title-small {
  /* width: fit-content; */
  /* width: 12rem; */
  font-size: 1.5rem;
  /* height: fit-content; */
  /* height: 5rem; */
  color: white;
  /* text-align: left; */
  /* border-radius: 10px; */
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.align {
  /* transform: translateX(13rem); */
  /* margin-top: 1.5rem; */
  margin: auto;
  padding: 10px 0;
  border-bottom: 5px solid black;

}

.break-container {
  height: 2rem;
}

.break {
  height: 5px;
  width: 90%;
  margin: auto;
  /* background: black; */
  background: #FC354C;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0ABFBC, #FC354C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.title-extra-small {
  font-size: 1.4rem;
}

.wrapper-column {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8rem;
}

.container-game {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(6, 13rem);
  justify-content: center;
  row-gap: 5rem;
  /* background: rgb(187, 183, 183); */
}

.container-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 1.5rem;
  padding: 0rem 1rem;
  /* transform: translateY(8rem); */
  margin-top: 5rem;
  margin-bottom: 3rem;
  /* border: 2px solid black; */
  background: rgba(56, 51, 51, 0.13);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 10px solid var(--clr-accent);
  border-bottom: 5px solid var(--clr-accent);
  /* background: #FC354C;
  background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
  background: linear-gradient(to right, #0ABFBC, #FC354C); */
  /* height: 60rem; */
}

.container-group {
  display: flex;
  justify-content: center;
  gap: 2rem;
  border-top: 5px solid var(--clr-a);
}

.bg-main {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100vw; */
  z-index: -1;
}

.bg-main>img {
  /* object-fit: fill;
  top: 0;
  left: 0; */
  bottom: 0;
  width: 100vw;
  height: 100vh;
  /* z-index: -1; */
}

.bg {
  /* background: var(--clr-d); */
}

.container-col-small {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.75rem;
  /* padding-top: 2.2rem; */
  margin-top: 2.4rem;
  /* background: var(--clr-d); */
  height: fit-content;
  align-items: center;
}

.featured-container {
  padding: 2.3rem 0;
  /* background: rgba(0, 128, 0, 0.267); */
  /* width: 100%; */
}

.featured-btns {
  display: flex;
  justify-content: center;
  user-select: none;
  font-size: 3.5rem;
  color: var(--clr-b);
}

.featured-img {
  /* width: 100%; */
  width: auto;
  /* width: 100%; */
  height: 411px;
  box-shadow: 0 5px 5px 0 black;
  transition: all 1s ease;
}

.input-search {}

.container-search {
  margin: auto;
}

.search-title {
  box-shadow: none;
}

.search-wrapper {
  padding: 10px 40px;
  position: absolute;
  left: 55%;
  /* transform: translate(-79%, 3px); */
  transform: translate(-17rem, 3px);
  background: rgb(219, 216, 216);
  border: 2px solid black;
  border-top: none;
  z-index: 10;
  max-height: 50rem;
  overflow-y: auto;
}

.search-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-img {
  /* height: 80px; */
  width: 250px !important;
  height: auto !important;
  /* object-fit: cover !important; */
}

.search-btn {
  position: absolute;
  font-size: 2rem;
  background: none;
  border: none;
  transform: translate(23rem, 0.75rem);
}

.search-result:hover {}

#search {
  font-size: 1.5rem;
  padding: 10px 30px;
  max-width: 30rem;
  transform: translateX(-10rem);
  transition: all 350ms;
  border: none;
  /* border-radius: 30px; */
}

.flex-row {
  display: flex;
  gap: 5px;
  padding-top: 0.5rem;
}

.search-discount {
  color: white;
  background: rgb(165, 50, 50);
  height: fit-content;
  font-size: 1rem;
  padding: 1px 8px;
}

.search-price {
  background: var(--clr-b);
  background: rgba(117, 113, 113, 0.411);
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
}

.game-card {
  background: rgb(238, 234, 234);
  box-shadow: 5px 5px rgb(104, 100, 100);
  /* width: 12rem; */
  width: fit-content;
  width: 170px;
  /* height: 10rem; */
  transition: transform 200ms ease-in;
  box-shadow: 5px 2px 5px 0 black;
}

.game-title {
  font-size: 1.1rem;
  font-weight: 600;
  min-height: 5rem;
  overflow-y: hidden;
  border-bottom: 1px solid black;
}

.game-img {
  width: auto;
  width: 171.15px;
  height: 80px;
}

.search-img {
  width: auto;
  width: 200px;
  /* height: 100px; */
}

.small {
  transform: scale(0.8);
}

.medium {
  transform: scale(1);
}

.large {
  transform: scale(1.5);
}

.game-card:hover {
  transform: translateY(-0.5rem);
  transition: transform 200ms ease-out;
}

.score {
  border-radius: 5px;
  background: rgb(125, 190, 125);
  width: fit-content;
  font-size: 2rem;
  font-weight: 700;
  padding: 5px;
  margin: auto;
}

.price {
  display: flex;
  font-size: 1rem;
  gap: 1rem;
  align-items: baseline;
  background: rgb(223, 213, 171);
  background: var(--clr-a);
}

.discount {
  font-size: 1.7rem;
  /* color: var(--clr-a); */
  color: white;
  background: rgb(197, 63, 63);
  width: fit-content;
  font-weight: 700;
  position: absolute;
  box-shadow: 3px 3px rgb(92, 10, 10);
}

.rating {
  font-size: 1.3rem;
  /* color: var(--clr-a);
  background: rgb(43, 40, 40); */
  /* color: rgb(182, 172, 172); */
  background: rgb(92, 88, 88);
  color: rgb(230, 227, 227);
  width: 3rem;
  width: fit-content;
  font-weight: 700;
  box-shadow: 3px 3px rgb(92, 10, 10);
  position: absolute;
  transform: translate(8rem, -70px);
  display: flex;
  align-items: center;
  gap: 7px;
}

.rating>span {
  color: rgb(182, 172, 172);
  font-size: 2rem;
}

.featured-discount {
  /* transform: translate(0.32rem, -3.25rem); */
  transform: translate(0rem, -3rem);
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
  width: 10rem;
  /* background: rgba(158, 11, 11, 0.747); */
  background: rgb(197, 63, 63);
  color: white;
  /* border-top-right-radius: 20px; */
}

.sale-price {
  font-size: 2rem;
  font-weight: 700;
}

.normal-price {
  text-decoration: line-through;
}

.footer {
  background: var(--clr-c);
  background: black;
  font-size: 1.3rem;
  color: var(--clr-a);
  color: white;
  margin-top: 5rem;
  padding: 1rem;
}

.footer>ul {
  display: flex;
  justify-content: center;
  gap: 5rem;
  font-size: 1.5rem;
  list-style-type: square;
}

footer li {
  cursor: pointer;
}

.min-width {}

.hide {
  display: none;
}

.show {
  display: block;
}

/* Responsive  */

@media (max-width: 1300px) {
  .container-game {
    display: flex;
    flex-wrap: wrap;
    row-gap: 4rem;
    column-gap: 2rem;
  }
}

@media (max-width: 1050px) {
  .container-group {
    flex-wrap: wrap;
  }

  .featured-container {
    width: 100%;
    margin: auto;
  }

  .featured-img {
    width: 100vw;
  }

  .container-game-grid {
    align-items: center;
    padding-top: 0;
    padding-right: 2rem;
  }

  .container-row {
    row-gap: 3rem;
  }
}

@media(max-width: 540px) {
  .search-content {
    max-height: 35rem;
    overflow-y: auto;
    transform: translate(0rem, 0rem);
    left: 0;
    z-index: 10;
    max-width: fit-content;
  }

  .search-title {
    display: none;
  }

  .search-img {
    height: 80px;
  }

  .search-btn {
    display: none;
  }

  #search {
    width: 100%;
  }

  .container-search {
    flex-direction: column;
  }

}

@media (max-width: 400px) {
  .search-title {
    display: none;
  }

  .container-row {
    padding: 0;
    align-items: center;
    padding-top: 4rem;
  }

  .container-game {
    padding: 4rem 0;
  }

  .title {}

  .header-content {
    padding-right: 0;
  }
}