*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  background: rgb(201, 198, 198);
}

.container-game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.container-game-grid {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 2rem;
}

.search-content {
  outline: 3px solid rgb(128, 14, 14);
  width: fit-content;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 1rem);
  background: gray;
}

.game-card {
  background: rgb(238, 234, 234);
  box-shadow: 5px 5px rgb(104, 100, 100);
  width: 12rem;
}

.game-title {
  font-size: 1.1rem;
  font-weight: 600;
  /* word-wrap: break-word; */
}

.game-card:hover {
  transform: translateY(-0.5rem);
}

.score {
  border-radius: 30px;
  background: rgb(125, 190, 125);
  width: fit-content;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 5px;
  margin: auto;
}

.game-img {
  width: auto;
  height: 72px;
}


.price {
  display: flex;
  /* justify-content: space-between; */
  gap: 1rem;
  align-items: baseline;
}

.sale-price {
  font-size: 1.5rem;
  font-weight: 700;
}

.normal-price {
  text-decoration: line-through;
}

.min-width {
  /* width: 10rem; */
}

.hide {
  display: none;
}

.show {}

#search {
  /* border-radius: 50px; */
  font-size: 1.5rem;
  padding: 2px;
}